@import "tailwindcss";

.task {
    touch-action: manipulation;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.task h3,
.task p {
    pointer-events: none;
}

main,
.todo-list,
.doing-list,
.done-list {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: auto;
}
